$btn-distanse-and-border: 0.5rem;

body{
    background: linear-gradient(to right,rgb(227, 213, 213), rgb(86, 85, 85));
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header-page{
    background-color: black;
    display: flex; 
    flex-wrap: wrap; 
    gap: 0.5rem;
}

.btn-redirect{
    padding: $btn-distanse-and-border;
    margin: $btn-distanse-and-border;
    border-radius: $btn-distanse-and-border;
    background-color: darkgray;
    flex: 1;
}

.href-redirect{
    text-decoration: none;
    color: black;
}

.section-page{
    background-color: darkgrey;
}

.blocks{
    display: flex;
    flex-wrap: wrap;
}